{{ define "main"}}

<!-- SUPPORTERS PAGE (Design based on Single template, functions as List)-->
<!-- Nav, Social, and Header pic are in baseof -->

<section class="page-copy">
    <div class="triangle triangle-corner"></div>    
    <h1>Thank you to Our Sponsors</h1>
    <div class="page-copy_content">

    {{range where .Site.Pages ".Params.type" "supporters"}}
        {{ if .Params.name}}
            <div class="donor-listing">
                <img class="donor-logo" src="{{.Params.logo}}">
                <p class="donor-name"><a href="{{.Params.website}}" target="_blank">{{.Params.name}}</a></p>
            </div>
        {{end}}
    {{end}}

    </div>    
</section>


<section class="sidebar">       
    <h1>{{.Title}}</h1>

    {{range where .Site.Pages ".Params.sidebar" "supporters"}}   
        <div class="contribute-info">
            {{.Content}}
        </div>
    {{end}}
    
    <p class="non-profit-info">{{.Site.Data.orgInfo.nonprofit }}</p>
</section>

{{end}}

