{{ define "main"}}
<!-- PROJECTS - SINGLE TEMPLATE -->
<!-- Nav, Social, and Header pic are in baseof -->

    <section class="sidebar-previews projects_list">

        <h1>Upcoming Projects</h1>

        <!-- Set cutoffDate to current project shown on Single Page -->
        {{$cutoffDate := time .Params.date}}
        {{$currentProject := .Params.title}}

        {{ $.Scratch.Set "previewCount" 0}}
    
        {{range sort (where (where .Site.Pages "Params.type" "projects") ".Params.date" "!=" nil) ".Params.date" }}

        <!-- Set projectDate to date of project listing in loop -->
        {{$projectDate := time .Params.date}}
    
        {{ if and (ge $projectDate $cutoffDate) (ne $currentProject .Title) (le ($.Scratch.Get "previewCount") 4) }}
            {{ partial "project_preview" . }}
            {{ $.Scratch.Set "previewCount" (add ($.Scratch.Get "previewCount") 1)}}
        {{end}}
    
        {{end}}
    </section>

    <section class="copy-primary">
        <h1 class="copy-primary_h1">{{.Title}}</h1>
        <h2 class="copy-primary_h2">{{.Params.artist}}</h2>
        <img class="project-pic" src={{.Params.image}}>
        <section class="project-info">
        <p class="project_date">{{ dateFormat "Monday, January 2, 2006" .Date }},<br/>{{.Params.time}}</p>
        <p class="project_venue">{{.Params.venue}}</p>
        <p class="project_address">{{.Params.address}}</p>
        <a class="facebook-link" href="{{.Params.facebook}}" target="_blank">Facebook project</a>
       
        <a class="artist-bio" href="/artists/{{.Params.artist | urlize }}">artist bio</a></p>

        {{if .Params.artistwebsite}}
        <p class="artist-website">artist website:  <a href="{{.Params.artistwebsite}}" target="_blank">{{replaceRE "^https?://([^/]+).*" "$1" .Params.artistwebsite}}</a></p>
        {{end}}
        


        </section>
        <div class="copy-primary_content">{{.Content}}</div>

        <div class="triangle triangle-corner"></div>
        <a class="link_back" href="/projects"><div class="triangle triangle_back"></div>EVENTS</a>
        
        {{ partial "pagination" .}}

    </section>

</div>

{{end}}