{{ define "main"}}
<!-- ARTISTS - SINGLE TEMPLATE -->
<!-- Nav, Social, and Header pic are in baseof -->

{{$artist := .Params.name}}
{{$.Scratch.Set "quarter" (string (dateFormat "January 2006" .Params.date))}}
{{$year := dateFormat "2006" .Params.date}}

    {{if (in ($.Scratch.Get "quarter") "March")}}
    {{ $.Scratch.Set "quarter" "Spring"}}
    {{else if (in ($.Scratch.Get "quarter") "June")}}
    {{ $.Scratch.Set "quarter" "Summer"}}
    {{else if (in ($.Scratch.Get "quarter") "September")}}
    {{ $.Scratch.Set "quarter" "Fall"}}
    {{else if (in ($.Scratch.Get "quarter") "December")}}
    {{ $.Scratch.Set "quarter" "Winter"}}        
    {{end}}


    <section class="sidebar-previews projects_list">
        <h1>{{$artist}} at Laboratory</h1>
        {{range where .Site.Pages ".Params.type" "projects" }}
                {{ if eq .Params.artist $artist}}
                {{ partial "project_preview" . }}
                {{end}}
        {{end}}
    </section>

    <section class="page-copy artists">
        <h1>{{.Params.name}}</h1>
        <div class="artist-quarter">{{$.Scratch.Get "quarter"}} {{$year}}</div>
        <img class="artist-pic" src={{.Params.picture}}>
        {{if .Params.artistwebsite}}
            <p class="artist-website">artist website:  <a href="{{.Params.artistwebsite}}" target="_blank">{{replaceRE "^https?://([^/]+).*" "$1" .Params.artistwebsite}}</a></p>
        {{end}}
        <div class="page-copy_content">{{.Content}}</div>
        <div class="triangle triangle-corner"></div>
        <a class="link_back" href="/artists"><div class="triangle triangle_back"></div>ARTISTS</a>

        {{ partial "pagination" .}}        
    </section>

{{end}}