/* ===== MEDIA QUERIES ===== */


@media (min-width: 1500px) {
    .page-container {
        .to-top {
            margin-right: calc(((100vw - 1500px) / 2) - 5px);
        }
    }
}

@media (max-width: 1300px) {
    .page-container--home {
        .sidebar {
            margin-top: 30px;
        }
    }
}

@media (max-width: 1100px) {
    .page-container--home {
        .grid--home {
            grid-template-areas:
                "header sidebar"
                "primary sidebar"
                "info info";
        }
    }

    .projects_project-title {
        font-size: 18px;
    }

    .projects_preview_date {
        margin: 5px 0;
    }

    .org-info {
        width: 100% !important;
    }

    .list_block {
        flex-grow: 1;
        min-width: 46%;
    }

    .page-container--base {
        .grid--single {
            grid-template-columns: auto;
            grid-template-areas:
                "header"
                "primary"
                "sidebar";
        }

        .grid--residency {
            grid-template-columns: auto;
            grid-template-areas:
                "header"
                "sidebar"
                "primary"
                "image";

            .page-copy {
                margin-top: -20px;
            }
        }
    }

    .volunteer {
        .contribute-info {
            display: inline-block;
            width: 50%;
        }

        .image--volunteer {
            display: inline-block;
            width: 40%;
            margin-left: 35px;
            vertical-align: top;
        }

        .non-profit-info {
            max-width: 700px;
            text-align: center;
            margin: 30px auto 16px auto;
        }
    }

    section.list_intro {
        max-width: 50%;
        padding-right: 10px;
        padding-top: 0;
    }

    .block_date-filter {
        max-width: 30%;
    }

    .clear-button {
        left: 80%;
    }

    .residency_menu {
        padding-left: 35px;
    }

    .residency_menu_container ul {
        margin: 5px 0 0 0;
    }

    .page-container {
        .to-top {
            transform: scale(0.8);
            right: 0;
        }
    }
}


@media (max-width: 1050px) {

    // same for non-home pages @ 550px
    .grid--home {
        .header_nav {
            // display: none;
            // top: 0;
            position: absolute;
            top: 30px;
            left: 12px;
        }

        // .nav_mobile-placeholder {
        //     display: block;
        // }

        .header_nav_divider {
            display: none;
        }

        .header_nav_menu-item {
            display: block;
            padding-top: 12px;
        }

        .triangle_drop-down {
            transform: rotate(30deg);
            box-shadow: 1px 1px 10px #000;
        }

        .nav_subnav {
            padding-top: 5px;
            left: 0;
            height: 35px;
            width: 260px;
            padding-left: 125px;

            &:hover {
                z-index: 300;
            }
        }

        .subnav_menu-item {
            display: block;
        }
    }
}



@media (max-width: 1015px) and (min-width: 550px) {
    .header_nav-logo-container {
        background: linear-gradient(180deg, rgba(27, 31, 38, 0.8) 20px, rgba(27, 31, 38, 0.4) 60px, rgba(27, 31, 38, 0) 95px);
    }
}


@media (max-width: 900px) {
    .page-container {
        padding: 20px 30px 20px 20px;
    }

    .grid {
        grid-gap: 20px;
    }
}

@media (max-width: 750px) {

    .header_image-holder, .grid--home .header {
        height: 275px;
    }

    .grid--single,
    .grid--list,
    .grid--residency {
        .header_nav {
            margin-right: 0;
        }
    }

    .donate_info,
    .donate_form {
        display: block;
        width: 100%;
    }

    .donate_form {
        form {
            margin: 0 auto;
            top: 0;
        }

        .monthly {
            padding-bottom: 75px;
        }
    }


    .page-container--home .grid--home {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "primary"
            "sidebar"
            "info";
    }

    .grid--home {

        header {
            height: 300px;
            overflow: hidden;
        }

        .sidebar {
            margin-top: 0;
        }

        .page-copy {
            align-self: auto;
        }

    }    

    .grid {
        padding-bottom: 50px;
    }

    .sidebar {
        padding-left: 10px;
    }

    .social-links {
        position: absolute;
        top: calc(100% - 52px);
        right: calc(50% - 100px);
    }
}

@media (max-width: 700px) {

    .list_block,
    .list_intro {
        min-width: 100%;
    }

    .block_date-filter {
        padding-bottom: 30px;
    }

    .page-copy {
        .triangle-corner {
            border-width: 0 175px 60px 0;
        }
    }

}

@media (max-width: 600px) {
    .page-container {
        .to-top {
            transform: scale(0.7);
            right: 0;
            bottom: 0;
        }
    }

}

@media (max-width: 550px) {

    .header_nav-logo-container {
        padding-bottom: 5px;
    }

    .carousel_arrow {
        font-size: 24px;
        bottom: 33px;
    }

    .page-container {
        width: 100%;
        padding: 12px;
        left: 0;
    }

    .list_block {
        right: 5px;
    }

    .grid--single,
    .grid--list,
    .grid--residency {
        .header_nav {
            // display: none;
            // top: 0;
            position: absolute;
            top: 30px;
            left: 12px;
        }

        // .nav_mobile-placeholder {
        //     display: block;
        // }

        .header_nav_divider {
            display: none;
        }

        .header_nav_menu-item {
            display: block;
            padding-top: 12px;
        }

        .triangle_drop-down {
            transform: rotate(30deg);
        }

        .nav_subnav {
            padding-top: 5px;
            left: 0;
            height: 35px;
            width: 260px;
            padding-left: 125px;

            &:hover {
                z-index: 300;
            }
        }

        .subnav_menu-item {
            display: block;
        }
    }

    .social-links .triangle {
        display: none;
    }

}


@media (max-width: 500px) {

    .header_image-holder, .grid--home .header {
        height: 230px;
    }

    .carousel-control {
        display: none;
    }


    .page-copy {
        .triangle-corner {
            border-width: 0 125px 40px 0;
        }
    }
}