/* ===== MEDIA QUERIES ===== */


@media (min-width: 1500px) {
    .page-container {
        .to-top {
            margin-right: calc(((100vw - 1500px) / 2) - 5px);
        }
    }

}

@media (max-width: 1300px) {
    .page-container--home {
        .sidebar {
            margin-top: 30px;
        }
    }

}

@media (max-width: 1100px) {
    .page-container--home {
        .grid--home {
            grid-template-areas:
                "header sidebar"
                "primary sidebar"
                "info info";
        }
    }

    .projects_project-title {
        font-size: 18px;
    }

    .projects_preview_date {
        margin: 5px 0;
    }

    .org-info {
        width: 100% !important;
    }

    .list_block {
        flex-grow: 1;
        min-width: 46%;
    }

    .page-container--base {
        .grid--single {
            grid-template-columns: auto;
            grid-template-areas:
                "header"
                "primary"
                "sidebar";
        }

        .grid--residency {
            grid-template-columns: auto;
            grid-template-areas:
                "header"
                "sidebar"
                "primary"
                "image";

            .page-copy {
                margin-top: -20px;
            }
        }
    }

    .volunteer {
        .contribute-info {
            display: inline-block;
            width: 50%;
        }

        .image--volunteer {
            display: inline-block;
            width: 40%;
            margin-left: 35px;
            vertical-align: top;
        }
    }

    section.list_intro {
        max-width: 50%;
        padding-right: 10px;
        padding-top: 0;
    }

    .block_date-filter {
        max-width: 30%;
    }

    .clear-button {
        left: 80%;
    }

    .residency_menu {
        padding-left: 35px;
    }

    .residency_menu_container ul {
        margin: 5px 0 0 0;
    }

    .page-container {
        .to-top {
            transform: scale(0.8);
            right: 0;
        }
    }
}


@media (max-width: 1050px) {

    // same for non-home pages @ 750px
    .grid--home {
        .header_nav {
            display: none;
            top: 0;
        }

        .nav_mobile-placeholder {
            display: block;
        }

        .header_nav_divider {
            display: none;
        }

        .header_nav_menu-item {
            display: block;
            padding-top: 12px;
        }

        .triangle_drop-down {
            transform: rotate(30deg);
            box-shadow: 1px 1px 10px #000;
        }

        .nav_subnav {
            padding-top: 5px;
            left: 0;
            height: 35px;
            width: 260px;
            padding-left: 125px;

            &:hover {
                z-index: 300;
            }
        }

        .subnav_menu-item {
            display: block;
        }
    }
}



@media (max-width: 1015px) {
    .header_nav-logo-container {
        background: linear-gradient(180deg, rgba(27, 31, 38, 0.7) 70px, rgba(27, 31, 38, 0));
    }
}


@media (max-width: 900px) {
    .page-container {
        padding: 20px 30px 20px 20px;
    }

    .grid {
        grid-gap: 20px;
    }
}


@media (max-width: 750px) {

    .grid--single, .grid--list, .grid--residency {
        .header_nav {
            display: none;
            top: 0;
        }

        .nav_mobile-placeholder {
            display: block;
        }

        .header_nav_divider {
            display: none;
        }

        .header_nav_menu-item {
            display: block;
            padding-top: 12px;
            text-shadow: 1px 1px 3px #000; 
        }

        .triangle_drop-down {
            transform: rotate(30deg);
            // box-shadow: 1px 1px 10px #000;
        }

        .nav_subnav {
            padding-top: 5px;
            left: 0;
            height: 35px;
            width: 260px;
            padding-left: 125px;

            &:hover {
                z-index: 300;
            }
        }

        .subnav_menu-item {
            display: block;
        }
    }
}
























@media (max-width: 700px) {

    .list_block,
    .list_intro {
        min-width: 100%;
    }

    .block_date-filter {
        padding-bottom: 30px;
    }

    .page-copy {
        .triangle-corner {
            border-width: 0 175px 60px 0;
        }
    }

}

@media (max-width: 600px) {
    .page-container {
        .to-top {
            transform: scale(0.7);
            right: 0;
            bottom: 0;
        }
    }

}