/* ===== MEDIA QUERIES ===== */

@media (max-width: 1300px) {
    .page-container--home {
        .sidebar {
            margin-top: 30px;
        }
    }

}

@media (max-width: 1100px) {
    /* GO TO DIFFERENT NAV LAYOUT HERE */
    // .header_nav_menu-item {
    //     border: solid 1px orange;
    // }

    .page-container--home {
        .grid--home {
            grid-template-areas:
            "header sidebar"
            "primary sidebar"
            "info info";
        }
    }    
    .projects_project-title {
        font-size: 18px;
    }
    
    .projects_preview_date {
        margin: 5px 0;
    }

    .org-info {
        width: 100% !important;
    }

    .list_block {
        flex-grow: 1;
        min-width: 46%;
    }

    .page-container--base {
        .grid--single {
            grid-template-columns: auto;
            grid-template-areas:
                "header"
                "primary"
                "sidebar";
        }
        .grid--residency {
            grid-template-columns: auto;
            grid-template-areas:
                "header"
                "sidebar"
                "primary"
                "image";
        }


        .preview_link-more {
            float: none;
            display: inline-block;
            margin: 20px 0 0 0;
        }
    }
    
    .volunteer {
        .contribute-info {
            display: inline-block;
            width: 50%;
        }
        .image--volunteer {
            display: inline-block;
            width: 40%;
            margin-left: 35px;
            vertical-align: top;
        }
    }

    section.list_intro {
        max-width: 50%;
        padding-right: 10px;
        padding-top: 0;
    }

    .block_date-filter {
        max-width: 30%;
    }

    .clear-button {
        left: 80%;
    }
}

@media (max-width: 700px) {
    .list_block, .list_intro {
        min-width: 100%;
    }
    .block_date-filter {
        padding-bottom: 30px;
    }
}