@import 'nav';
@import 'calendar';
@import 'previews';
@import 'single-page';
@import 'pagination';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #B3B0AB), to(#8C8A86));
    background-image: linear-gradient(to right, #B3B0AB 90%, #8C8A86);
    font-family: 'Cairo', sans-serif;
    color: #000;
    /* padding-top: 3px; */
}


h1 {
    font-size: 26px;
    margin: 10px 0 20px 0;
    text-transform: uppercase;
    font-weight: 700;
}

h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 600;
}

a {
    color: #004B80;
    text-decoration: underline;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

.container-primary {
    background: #fff;
    width: 95%;
    max-width: 1500px;
    height: auto;
    min-height: 100vh;
    margin: 3px auto 10px auto;
    padding: 32px 70px 50px 40px;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 60% auto;

    justify-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;

    section {
        justify-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}

.grid-home {
    grid-template-rows: auto;
    grid-gap: 35px;
    grid-template-areas:
        "header events"
        "copy events"
        "copy calendar"
        "copy info";
}

.social-links {
    position: absolute;
    right: 30px;
    top: 25px;

    img {
        height: 40px;
        width: auto;
        margin: 0 6px;
    }

    img:hover {
        -webkit-filter: brightness(1.5) hue-rotate(180deg);
        filter: brightness(1.5) hue-rotate(180deg);
    }

}

/* ===== HEADER SECTION ===== */

.header {
    grid-area: header;
    position: relative;
    background: #B3B0AB;
    color: #fff;
    text-transform: uppercase;
    width: calc(100% + 40px);
    left: -40px;
}

/* ===== HEADER ===== */

.header_image-home {
    width: calc(100% - 40px);
    margin-left: 40px;
    margin-bottom: -3px;
}

.triangle-punch-out {
    border-width: 18px 42px 0 0;
    border-color: #B3B0AB transparent transparent transparent;
    position: absolute;
}

.tagline {
    position: absolute;
    left: 40px;
    bottom: 0;
    height: 32px;
    width: calc(100% - 40px);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #B3B3B3;
    padding: 9px 0 0 15px;
    background-image: -webkit-gradient(linear, left top, right top, from(#1B1F26), color-stop(60%, rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, #1B1F26, rgba(0, 0, 0, 0) 60%);
    text-transform: uppercase;
}

.carousel-control {
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.carousel-control_dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 20px;
    border: solid 1px #B3B3B3;
}


/* -- MAKE INTERACTIVE w JS -- */

.carousel-control_dot:first-of-type {
    background: #fff;
}

/* .carousel-control_dot:active {
    background: #fff;
} */


/* ===== PRIMARY COPY SECTION ===== */

.copy-primary {
    grid-area: copy;
    background: #F7F5F0;
    padding: 30px 45px 50px 45px;
    position: relative;

    h1, h2 {
        color: #00406D;
        margin: 0;
    }

    h1 {
        font-size: 30px;
    }

    .copy-primary_content {
        clear: both;
        position: relative;
        top: 10px;
        font-size: 18px;
        line-height: 1.5;
    }
}


/* ===== INFO SECTION ===== */

.info {
    grid-area: info;
}