/* ===== EVENT PREVIEW LIST SECTION ===== */

.projects_list {
    grid-area: sidebar;
}

.projects_preview {
    font-size: 16px;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: solid 1px #666;
}

.projects_preview:last-of-type {
    border: none;
}

.preview_link-more {
    float: right;
    // margin: 5px 10% 25px 0;
    margin: 0 10% 25px 0;
    font-size: 15px;
}

.projects_thumbnail {
    width: 30%;
    min-width: 75px;
    height: auto;
    float: left;
    margin: 0 15px 15px 0;
}

.projects_project-title {
    font-size: 20px;
}

.projects_preview_date {
    font-weight: 600;
    margin: 15px 0 10px 0;
}

.projects_preview_location,
.projects_preview_address {
    margin: 5px 0;
}

.preview_summary {
    // Removes summary from display in small previews
    display: none;
}



