/* ===== HEADER NAV ===== */
.header_nav-logo-container {
  width: calc(100% - 40px);
  padding: 5px 0 10px 10px;
  position: absolute;
  left: 40px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, #1B1F26), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, #1B1F26 45%, rgba(0, 0, 0, 0));
}

.header_logo {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.header_nav {
  display: inline-block;
  position: relative;
  bottom: 25px;
  height: 25px;
  margin-top: 30px;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 600;
}

.header_nav_menu-item {
  position: relative;
}

.header_nav div {
  display: inline-block;
}

.header_nav_divider {
  margin: 0 2px -12px 2px;
  width: 18px;
  height: 32px;
}

.header_nav_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.7px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  /* border-color: #E6AC5C transparent transparent transparent; */
  margin: 0 0 2px 10px;
}

/* ===== SUB-NAV ===== */
.nav_subnav {
  position: absolute;
  background: rgba(111, 111, 118, 0.7);
  width: 120px;
  top: 25px;
  right: 0;
}

.subnav_menu-item {
  display: block;
  height: 30px;
  text-transform: capitalize;
  margin: 3px 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #B3B0AB), to(#8C8A86));
  background-image: linear-gradient(to right, #B3B0AB 90%, #8C8A86);
  font-family: 'Cairo', sans-serif;
  color: #000;
  /* padding-top: 3px; */
}

h1 {
  font-size: 26px;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
  font-weight: 700;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 600;
}

a {
  color: #004B80;
  text-decoration: underline;
}

.container-primary {
  background: #fff;
  width: 95%;
  max-width: 1500px;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 35px 70px 35px 40px;
  position: relative;
}

.grid-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 35px;
      grid-template-areas: "header events" "copy events" "copy calendar" "copy info";
  justify-items: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.grid-home section {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

.social-links {
  height: 45px;
  width: 210px;
  background: #5379BA;
  position: absolute;
  right: 30px;
  top: 25px;
}

/* ===== HEADER SECTION ===== */
.header-home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: relative;
  background: #B3B0AB;
  color: #fff;
  text-transform: uppercase;
  width: calc(100% + 40px);
  left: -40px;
}

.header_image {
  width: calc(100% - 40px);
  margin-left: 40px;
  margin-bottom: -3px;
}

.triangle-punch-out {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 42px 0 0;
  border-color: #B3B0AB transparent transparent transparent;
  position: absolute;
}

.header_tagline {
  position: absolute;
  /* position: relative; to inspect extra pixels at bottom of image */
  left: 40px;
  bottom: 0;
  height: 32px;
  width: calc(100% - 40px);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #B3B3B3;
  padding: 9px 0 0 15px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, #1B1F26), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, #1B1F26 45%, rgba(0, 0, 0, 0));
}

.carousel-control {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.carousel-control_dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 20px;
  border: solid 1px #B3B3B3;
}

/* -- MAKE INTERACTIVE w JS -- */
.carousel-control_dot:first-of-type {
  background: #fff;
}

/* .carousel-control_dot:active {
    background: #fff;
} */
/* ===== EVENT PREVIEW LIST SECTION ===== */
.events {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: events;
}

.events_preview {
  clear: both;
  overflow: hidden;
  margin-bottom: 15px;
  border-bottom: solid 1px lightgrey;
}

.preview_link-more {
  float: right;
  margin: 5px 10% 5px 0;
  font-size: 14px;
}

.events_thumbnail {
  width: 30%;
  min-width: 75px;
  height: auto;
  float: left;
  margin-bottom: 10px;
}

.events_event-info {
  display: inline-block;
  width: 65%;
  margin-left: 10px;
  font-size: 16px;
}

.events_event-title {
  font-size: 20px;
}

.events_preview_date {
  font-weight: 600;
  margin: 15px 0 10px 0;
}

.events_preview_location,
.events_preview_address {
  margin: 5px 0;
}

/* ===== PRIMARY COPY SECTION ===== */
.copy-primary_home {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: copy;
  background: #F7F5F0;
  padding: 30px 45px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
}

.copy-primary_h1 {
  font-size: 30px;
  margin: 5px 0 30px 0;
}

/* ===== CALENDAR SECTION ===== */
.calendar-section {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: calendar;
}

.event-calendar {
  width: 80%;
  height: 225px;
  background: #D9D5D0;
}

/* ===== INFO SECTION ===== */
.info {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: info;
}

/* ===== MEDIA QUERIES ===== */
@media (max-width: 1700px) {
  .header_nav {
    bottom: 0;
    margin-top: 5px;
  }
}

@media (max-width: 1275px) {
  /* Nav bar needs to change here */
  /* Drop carousel by around 1175px */
}

@media (max-width: 875px) {
  .grid-home {
        grid-template-areas: "header events" "copy events" "calendar calendar" "info info";
  }
  .events_event-info {
    font-size: 15px;
    width: 100%;
  }
  .events_event-title {
    font-size: 18px;
  }
  .events_preview_date {
    margin: 5px 0;
  }
}
/*# sourceMappingURL=main.css.map */