.pagination {
    display: inline-block;
    color: $darkblue;
    text-transform: lowercase;
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 18px;
    width: 100%;


    div {
        display: inline-block;
    }

    a {        
        letter-spacing: 0.02em;

        &:hover {
            > .triangle_previous {
                border-color:  transparent $lightblue transparent transparent;
            }
            > .triangle_next {
                border-color:  transparent transparent transparent $lightblue ;
            }
        }
    }
}

.triangle_previous {
    border-width: 6px 12px 6px 0;
    border-color:  transparent $darkblue transparent transparent;
    margin: 0 12px 0 0;
}

.triangle_next {
    border-width: 6px 0 6px 12px;
    border-color:  transparent  transparent  transparent $darkblue;
    margin: 0 0 0 12px;
}

.spacer {
    margin: 0 10%;
}