/* ===== PRIMARY COPY SECTION ===== */

.copy-primary {
    grid-area: primary;
    background: $beige;
    padding: 30px 45px 50px 45px;
    position: relative;

    h1, h2 {
        color: $darkblue;
        margin: 0;
    }

    h1 {
        font-size: 30px;
    }
    .copy-primary_content {
        clear: both;
        position: relative;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 400;
        margin-top: 20px;
    }
}
