
<!-- FORMATS ARTIST PREVIEWS FOR LIST PAGE -->

{{ range (where .Site.Pages ".Params.type" "artists").GroupByDate "January 2006" }}

        {{$year := substr .Key (sub (len .Key) 4) 4}}

        {{ $.Scratch.Set "season" ""}}

        {{if (in .Key  "March")}}
                {{ $.Scratch.Set "season" "Spring"}}
        {{else if (in .Key  "June")}}
                {{ $.Scratch.Set "season" "Summer"}}
        {{else if (in .Key  "September")}}
                {{ $.Scratch.Set "season" "Fall"}}
        {{else if (in .Key  "December")}}
                {{ $.Scratch.Set "season" "Winter"}}        
        {{end}}

        {{$season := $.Scratch.Get "season"}}

        <div class="{{$season}}{{$year}} filter-item"> 
                
                <div class="flex-wrapper">
                <h1 class="subhead_date ">{{$season}} {{$year}}</h1>

                {{ range sort (where .Pages "Type" "artists") ".Params.name" }}
                
                        <section class="list_block artist-listing">
                                <h2 class="artist-name"><a href="{{.URL}}">{{.Params.name}}</h2></a>
                                <img class="artist-pic" src={{.Params.picture}}>
                                <p class="artist-project-summary">{{.Summary | truncate 200 }}</p>
                                <a class="preview_link-more" href="{{.URL}}">more</a>
                                <div class="triangle triangle-corner"></div>
                        </section>
                {{end}}

                </div>
        </div>


{{ end }}

