
<form> 
        <p>Select a time period to filter {{.Type | singularize}} listings:</p>
        {{ range (where .Site.Pages ".Params.type" "events").GroupByDate "2006" }}   
        <input class="year-select" list="quarters" name="quarters" placeholder="{{.Key}}">
            <datalist id="quarters">
                    <option value="Spring">
                    <option value="Summer">
                    <option value="Fall">
                    <option value="Winter">
            </datalist>
        {{end}}
        <div>
        <!-- <input class="filter-buttons" type="submit" value="filter"> -->
        <input class="filter-buttons" type="reset" value="clear filter">
        </div>
</form>

