<div class="donate_form">
        <form class="monthly">
            <button class="donate-amount">$&#8202; 5 / month</button>
            <button class="donate-amount">$&#8202;10 / month</button>
            <button class="donate-amount donate-focus">&#8202;$25 / month</button>
            <button class="donate-amount">&#8202;$50 / month</button>
            <button class="donate-amount">&#8202;$100 / month</button>
            <div class="dollar-sign">&#8202;$</div><input placeholder="other monthly amount"> 
            <button type="submit">pay with card</button>                                              
        </form> 
    </div>