<section class="events_preview">

{{$endDate := .Params.endDate}}
    
    <img class="events_thumbnail" src={{.Params.thumbnail}}>

        <h2 class="events_event-title"><a href="{{.URL}}">
            {{if .Params.title }}
            {{.Params.title}},
            {{end}}
            {{.Params.artist}}</a></h2>
        <div>

            <p class="events_preview_date">
                {{ if .Params.endDate }}
                {{ dateFormat "January 2" .Date }} - {{ dateFormat "January 2, 2006" .Params.endDate }}<br/>{{.Params.time}}
                {{else}}
                {{ dateFormat "Monday, January 2, 2006" .Date }}<br/>{{.Params.time}}
                {{ end }}          
            </p>
        <p class="events_preview_location">{{.Params.venue}}</p>
        <p class="events_preview_address">{{.Params.address}}</p>
        </div>


        <p class="preview_summary">{{.Summary | truncate 160 }}</p>

        <a class="preview_link-more" href="{{.URL}}">more</a>

</section>