<div class="carousel">
    <!-- Put styling in CSS -- control height -->
<img class="slide-pic home-pic" src="images/carousel/preMADE.jpg">
<img class="slide-pic" src="images/carousel/ShuangshuangHuo.jpg">
<img class="slide-pic" src="images/carousel/superduluxe.jpg">
<img class="slide-pic" src="images/carousel/CynthiaHua.jpg">
<img class="slide-pic" src="images/carousel/TomerBaruch.jpg">



<div class="carousel-control">
    <div class="carousel_dots">
        <div class="dot dot-current" onclick="currentDiv(1)"></div>
        <div class="dot" onclick="currentDiv(2)"></div>
        <div class="dot" onclick="currentDiv(3)"></div>
        <div class="dot" onclick="currentDiv(4)"></div>
        <div class="dot" onclick="currentDiv(5)"></div>
    </div>
    <div class="carousel_arrow back" onclick="plusDivs(-1)">&#10094;</div>
    <div class="carousel_arrow forward" onclick="plusDivs(1)">&#10095;</div>
</div>
</div>