<nav class="header_nav">
    <img class="header_nav_divider" src="/images/slash.svg">
    <div class="header_nav_menu-item"><a href="/artists">artists</a></div>

    <img class="header_nav_divider" src="/images/slash.svg">
    <div class="header_nav_menu-item"><a href="/projects">projects</a></div>

    <img class="header_nav_divider" src="/images/slash.svg">
    <div class="header_nav_menu-item">support us
        <div class="triangle triangle_drop-down"></div>
        <div class="nav_subnav">
            <div class="subnav_menu-item"><a href="/support">contribute</a></div>
            <div class="subnav_menu-item"><a href="/support">volunteer</a></div>
            <div class="subnav_menu-item"><a href="/support">donate space</a></div>
            <div class="subnav_menu-item"><a href="/contributors">our supporters</a></div>
        </div>
    </div>

    <img class="header_nav_divider" src="/images/slash.svg">
    <div class="header_nav_menu-item">residency
        <div class="triangle triangle_drop-down"></div>
        <div class="nav_subnav">
            <div class="subnav_menu-item"><a href="/residency">info for artists</a></div>
            <div class="subnav_menu-item"><a href="/residency/apply">how to apply</a></div>
        </div>
    </div>
</nav>