
<!-- FORMATS PROJECT PREVIEWS FOR LIST PAGE -->


{{ range (where .Site.Pages ".Params.type" "projects").GroupByDate "January 2006" }}

{{ $projectDate := replace .Key " " ""}}

<!-- Create $season variable from Key for applicable months and add as class to filter item rather than projectDate -->
<!-- Will need to put Jan-Feb into Winter of previous year -->

<div class="{{$projectDate}} filter-item">

        <div class="flex-wrapper">
        <h1 class="subhead_date">{{.Key}}</h1>

        {{ range sort (where .Pages "Type" "projects") ".Params.date" }}    
                <section class="list_block project-listing">
                        {{partial "project_preview" .}}
                </section>         
        {{end}}
        </div>
</div>



{{ end }}
