{{ partial "head" . }}

<body>
    <div class="container-primary">

        {{ partial "social" . }}

        <div class="grid grid-home">

            <header class="header">
                <div class="header_nav-logo-container home-nav-bg">
                    <img class="header_logo" src="images/Laboratory-Logo-WHITE.png"
                        alt="Laboratory text logo">
                    {{ partial "nav" . }}
                </div>

                <img class="header_image-home" src="images/FPO_preMADE_67inch_3to4.jpg">
                <!-- <img class="header_image" src="images/FPO_superduluxe_3to4.jpg"> -->
                <div class="triangle triangle-punch-out"></div>

                <div class="tagline">interactive, digital, performance art</div>
                <div class="carousel-control">
                    <div class="carousel-control_dot"></div>
                    <div class="carousel-control_dot"></div>
                    <div class="carousel-control_dot"></div>
                    <div class="carousel-control_dot"></div>
                    <div class="carousel-control_dot"></div>
                </div>
            </header>

            <section class="preview_list events_list">
                <h1>Upcoming Events</h1>
                {{range sort (where (where .Site.Pages "Params.type" "events") ".Params.date" "!=" nil) ".Params.date" | first 3 }}
                <!-- change 2018-01-01 to now for current date -->
                {{ if gt .Params.date "2018-01-01"}}
                    {{ partial "event_preview" . }}
                    {{end}}
                {{end}}
            </section>

            <section class="copy-primary">
                <h1 class="copy-primary_h1">What We Do</h1>
                <div class="copy-primary_content">
                    <p>Tempor laboris in dolore Lorem excepteur ipsum consectetur. Non nostrud incididunt commodo dolor
                        velit reprehenderit eiusmod quis dolore aliqua ut quis. Elit aliqua quis ipsum sunt amet
                        ullamco commodo veniam nulla irure ex consequat aliqua. Lorem consequat laboris duis ea aute
                        nulla nulla eu irure adipisicing. Veniam ut sunt voluptate qui veniam fugiat ipsum consectetur
                        ipsum. Sit consequat officia reprehenderit enim non velit cillum ex tempor exercitation ut
                        labore consequat.</p>
                    <p>Commodo sunt eu Lorem dolore quis esse in dolore in dolore fugiat laboris ipsum. Est
                        exercitation excepteur duis eu pariatur est in exercitation ad est Lorem pariatur elit. Ex do
                        anim dolor qui ea proident irure. Occaecat aliquip anim qui minim ad ullamco eiusmod consequat
                        reprehenderit. Velit cillum duis tempor elit ad. In ullamco laboris ipsum incididunt. Quis do
                        proident ea excepteur veniam laborum reprehenderit velit ut aute.</p>
                </div>
            </section>

            <section class="calendar-section">
                <!-- <figure class="event-calendar"></figure> -->
                {{ partial "calendar" }}
            </section>

            <section class="info">
                <h1>Laboratory Spokane</h1>
                <p>Laboratory is a part of Spokane Interactive Arts, a 501(c)3 non-profit organization.</p>
                <p>?? --- [Contact Info] --- ??</p>
                <p>?? --- list / logos of supporters --- ??</p>
            </section>



        </div>



    </div>

    <!-- <script src="" async defer></script> -->
</body>

</html>