{{ define "main"}}
<!-- EVENTS - SINGLE TEMPLATE -->
<!-- Nav, Social, and Header pic are in baseof -->

    <section class="preview_list events_list">
        <h1>Upcoming Events</h1>
        {{range sort (where .Site.Pages ".Params.type" "events")  | first 3 }}
            <!-- change 2018-01-01 to now for current date -->
            {{ if gt .Params.date "2018-01-01"}}
                {{ partial "event_preview" . }}
            {{end}}
        {{end}}

    </section>

    <section class="copy-primary">
        <h1 class="copy-primary_h1">{{.Title}}</h1>
        <h2 class="copy-primary_h2">{{.Params.artist}}</h2>
        <img class="event-pic" src={{.Params.image}}>
        <section class="event-info">
        <p class="event_date">{{ dateFormat "Monday, January 2, 2006" .Date }},<br/>{{.Params.time}}</p>
        <p class="event_venue-address">{{.Params.venue}}</p>
        <p class="event_venue-address">{{- .Params.address}}</p>
        <a class="facebook-link" href="{{.Params.facebook}}" target="_blank">Facebook event</a>
        {{if .Params.artistwebsite}}
        <p class="artist-website">artist website:  <a href="{{.Params.artistwebsite}}" target="_blank">{{replaceRE "^https?://([^/]+).*" "$1" .Params.artistwebsite}}</a></p>
        {{end}}
        
        <a class="artist-bio" href="/artists/{{.Params.artist | urlize }}">artist bio</a></p>

        </section>
        <div class="copy-primary_content">{{.Content}}</div>

        <div class="triangle triangle-corner"></div>
        <a class="link_back" href="/events"><div class="triangle triangle_back"></div>EVENTS</a>
        
        {{ partial "pagination" .}}

    </section>

</div>

{{end}}