{{ define "main"}}

<!-- CONTRIBUTORS PAGE (Design based on Single template, functions as List-->
<!-- Nav, Social, and Header pic are in baseof -->

<section class="sidebar-previews">        

        <h1>Become a Contributor</h1>


        {{range where .Site.Pages ".Params.type" "contributors"}}    
            <div class="contribute-info">{{safeHTML .Params.info}}</div>
        {{end}}


    </section>

<section class="copy-primary">
    
    <h1>{{.Params.title}}</h1>

    <div class="copy-primary_content">{{.Content}}</div>

    {{range where .Site.Pages ".Params.type" "contributors"}}
        <img class="donor-logo" src="{{.Params.logo}}">
        <p class="donor-name"><a href="{{.Params.website}}" target="_blank">{{.Params.name}}</a></p>

    {{end}}
    
</section>

{{end}}

