.grid-list {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 35px;
    grid-template-areas:
        "header"
        "subhead "
        "listings";
    width: 100%;
    // border: solid 1px salmon;
}

.subhead_type {
    width: 100%;
    grid-area: subhead;
    display: inline-block;
    margin: 0;
    height: auto;
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    background: linear-gradient(to right, #00416F 45%, rgba(0, 65, 111, 0.4));

}

.subhead_date {
    width: 100%;
    background: linear-gradient(to right, $lightblue, rgba(124, 149, 191, 0.2));
    color: #eee;
    margin: 10px 0;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 22px;
    clear: both;
} 


.listings {
    width: 100%;
    margin-top: -15px;
}


.flex-wrapper {
    margin: 0 auto;
    width: 100%; 
    // grid-area: flex-wrapper;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
}

.list_block {
    flex-basis: auto;
    width: 31%;
    margin: 10px;
}

.list_intro {
    width: 64%;
    padding: 10px 50px 10px 30px;
    font-size: 18px;
    line-height: 1.3;
}


.project-listing, .artist-listing {
    padding: 20px 10px 0 20px;
    background: $beige;
}


.project-listing {

    .projects_preview {
        margin-bottom: 0;
    }

    .projects_thumbnail {
        width: 40%;
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .projects_project-title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .projects_preview_date {
        font-size: 17px;
        line-height: 1.3;
    }
}


.artist-pic {
    max-width: 95%;
    margin-bottom: 10px;
} 


.artist-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.list-page_summary {
    display: inline-block;
    font-size: 17px;
    line-height: 1.4;
    margin: 10px 0;
    width: 95%;
}





